{{!-- Main page handlebars --}}


{{!-- main content --}}
<div class='container'>
    <br>
    <div class='row'>
        <div class='col s2 card'>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero quisquam ipsa qui nesciunt molestiae
                autem voluptatibus labore impedit cumque ea. Facere similique voluptatibus nemo veritatis ab. Quis,
                praesentium. Doloremque, aliquid!</p>
        </div>
        <div class='col s8'>
            <h6 class="center">Take your gaming out of the box.</h6>
        </div>
        <div class='col s2 card'>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, maxime dolore? Officia in sapiente
                pariatur quis! Iste voluptas perspiciatis necessitatibus, laboriosam aliquid reprehenderit, omnis
                dolores blanditiis ea officia nesciunt excepturi!</p>
        </div>

    </div>
</div>
{{!-- image card layout --}}
 <div class="row">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <img src="images/sample-1.jpg">
          <span class="card-title">Card Title</span>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
  </div>