
<div class='container'>
  <br>
  <br>
  <br>
  <h3 class='center'>Please log in</h3>
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <!-- <i class="material-icons prefix">account_circle</i> -->
          <input id="usernameInput" type="text" class="validate">
          <label for="usernameInput">User Name</label>
        </div>
        <div class="input-field col s6">
          <!-- <i class="material-icons prefix">phone</i> -->
          <input id="passwordInput" type="text" class="validate">
          <label for="passwordInput">Password</label>
        </div>
      </div>
    </div>
    <div class='row center'>
      <button class='waves-effect waves-light center btn-large' id='loginBtn'> Login <i class="fas fa-key"></i></button>
    </form>
  </div>
  </div>