<div class='container center'>
    <h2> Looking For Group </h2>
    <div class='row'>
        <form>

            <div class="input-field col s4 offset-s4">
                <h5> What kind of group are you looking for?</h5>
                <select id="groupTypeSelect">
                    <option value="" disabled selected>Choose your option</option>
                    <option value="1">Online</option>
                    <option value="2">IRL</option>
                </select>

            </div>

        </form>
    </div>
    <div id="matchDiv" class='row'>

    </div>
</div>