<div class='container'>
    <br>
    <br>
    <br>
<div class='row center'>
    <h5>You need to be logged in to view this page, please sign in.</h5>
</div>
<div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field unBoxInput col s6">
          <!-- <i class="material-icons prefix">account_circle</i> -->
          <input id="usernameInput" placeholder="Username" type="text" class="validate unBoxInput">
       
        </div>
        <div class="input-field unBoxInput col s6">
          <!-- <i class="material-icons prefix">phone</i> -->
          <input id="passwordInput" placeholder="Password" type="password" class="validate unBoxInput">
         
        </div>
      </div>
  </div>
  <div class='row center'>
    <button class='waves-effect waves-light center btn-large' id='loginBtn'> Login <i class="fas fa-key"></i></button>
    </form>
  </div>
</div>