<div class='container center'>
    <h2> Your next game </h2>
    <div class='row'>
        <form>

            <div class="input-field col s4 offset-s4">
                <h5> What is your favorite game?</h5>
                <select id="favoriteGameSelect">
                    <option value="" disabled selected>Choose your option</option>
                    {{#each games}}
                    <option value="{{this.dataValues.id}}">{{this.dataValues.name}}</option>
                    {{/each}}

                </select>

            </div>

        </form>
    </div>
    <div id="recommendDiv" class='row'>

    </div>
</div>