<div class='container center'>
    <h2> Your next game </h2>
    <div class='row'>
        <form>

            <div class="input-field col s4 offset-s4" id="reccomendSelectDiv">
                <h5> What is your favorite game?</h5>
                <select id="favoriteGameSelect">
                    <option value="" disabled selected>Choose your option</option>
                    {{#each user.games}}
                    <option value="{{this.dataValues.id}}">{{this.dataValues.name}}</option>
                    {{/each}}


                </select>

            </div>

        </form>
    </div>
    <div class='row'>
        <button class='btn recButton'> Pick a Game for Me <i class="fas fa-chess-knight fa-lg"></i></button>
    </div>
    <div id="recommendDiv" class='row center'>

    </div>
</div>