<div class='container'>
  <h3 class='center'>Create an Account</h3>
  <div class="row">
    <form class="col s12" id="signUpForm">
      <div class="row">
        <div class="input-field unBoxInput col s6">
          <input name="email" placeholder="Email" id="signUpEmail" type="email" />
        </div>
        <div class="input-field unBoxInput col s6">
          <input name="username" placeholder="Username" id="signUpUsername" type="text" />
        </div>
      </div>
      <div class="row">
        <div class="input-field unBoxInput col s6">
          <input name="firstname" placeholder="First name" id="signUpFirstname" type="text" />
        </div>
        <div class="input-field unBoxInput col s6">
          <input name="lastname" placeholder="Last name" id="signUpLastname" type="text" />
        </div>
      </div>
      <div class="row">
        <div class="input-field unBoxInput col s6">
          <input name="password" placeholder="Password" id="signUpPassword" type="password" />
        </div>
        <div class="input-field unBoxInput col s6">
          <input name="confirmPassword" placeholder="Password" id="signUpConfirmPassword" type="password" />
        </div>
      </div>
      <div class='row center'>
        <button class='waves-effect waves-light center btn-large' id='signUpBtn'> Sign Up  <i class="fas fa-chess-pawn"></i></button>
    </form>
  </div>
</div>