{{!-- <div class="container"> --}}
{{!-- 
  <form id="signup" name="signup" class="signup">
    <!--email-->
    <label for="email">Email Address</label>
    <input name="email" type="email" />
    <!--first name-->
    <label for="firstname">Firstname</label>
    <input name="firstname" type="text" />
    <!--last name-->
    <label for="lastname">Lastname</label>
    <input name="lastname" type="text" />
    <!--user name-->
    <label for="username">Username</label>
    <input name="username" type="text" />
    <!--password-->
    <label for="password">Password</label>
    <input name="password" type="password" />
    <!--confirm password-->
    <label for="confirmPassword">Confirm Password</label>
    <input name="confirmPassword" type="password" />

    <input class="btn" type="submit" value="Sign-up" />
  </form>
</div> --}}
<div class='container'>
  <h3 class='center'>Create an Account</h3>
  <div class="row">
    <form class="signup col s12" id="signUpForm">
      <div class="row">
        <div class="input-field col s6">
          <label for="email">Email Address</label>
          <input name="email" id="signUpEmail" type="email" />
        </div>
        <div class="input-field col s6">
          <label for="username">Username</label>
          <input name="username" id="signUpUsername" type="text" />
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <label for="firstname">First name</label>
          <input name="firstname" id="signUpFirstname" type="text" />
        </div>
        <div class="input-field col s6">
          <label for="lastname">Last name</label>
          <input name="lastname" id="signUpLastname" type="text" />
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <label for="password">Password</label>
          <input name="password" id="signUpPassword" type="password" />
        </div>
        <div class="input-field col s6">
          <label for="confirmPassword">Confirm Password</label>
          <input name="confirmPassword" id="signUpConfirmPassword" type="password" />
        </div>
      </div>
      <div class='row center'>
        <button class='waves-effect waves-light center btn-large' id='signUpBtn'> Sign Up  <i class="fas fa-chess-pawn"></i></button>
    </form>
  </div>
</div>