<div class='container'>
<div class='row center'>
    <h1>What user is adding a game?</h1>
    
  <div class="input-field col s12">
    <select id="selectUser">
      <option value="" disabled selected>Choose your option</option>
      {{#each users}}
      <option value="{{this.dataValues.id}}">{{this.dataValues.firstname}} {{this.dataValues.lastname}}</option>
      {{/each}}
    </select>
  </div>
</div>
<div class="row" id="gamesDiv">
    
</div>
</div>

{{!-- no idea how to see what user is logged in, ask someone --}}
