<div class='container'>
<div class='row center'>
    <h1>Pick a game to add</h1>
    {{#each games}}
    <button class='btn-lrg addGameButton' data-id='{{this.dataValues.id}}'></button>
    {{/each}}
</div>
</div>

{{!-- no idea how to see what user is logged in, ask someone --}}
