/* Custom CSS */
body {
    background-color: silver;
    font-family: 'Maven Pro', sans-serif;
}

#mainNav{
    height: 70px;
   
}

#mainLogo {
    height: 93px;
}

.navLinks{
    font-size: large;  
    color: white;
}

.mobileIcon {
    margin-left: 10px;
    color: #98da9e;
}
.card{
  color: black;
}

.input-field label {
    color: #000;
    
  }
.input-field input[type=text]:focus + label {
    color: #70a3b7 !important;    
  }
  .input-field input[type=password]:focus + label {
    color: #70a3b7 !important;    
  }
  .input-field input[type=email]:focus + label {
    color: #70a3b7 !important;    
  }
  
  .input-field input[type=text] {
    border-bottom: 1px solid #494848 !important;
  }
  .input-field input[type=password] {
    border-bottom: 1px solid #494848 !important;
  }
  .input-field input[type=email] {
    border-bottom: 1px solid #494848 !important;
  }

  .input-field input[type=text]:focus {
    border-bottom: 1px solid #70a3b7 !important;
  }
  
  .input-field input[type=password]:focus {
    border-bottom: 1px solid #70a3b7 !important;
  }
  .input-field input[type=email]:focus {
    border-bottom: 1px solid #70a3b7 !important;
  }

  .signup label {
    color: #000;
    
  }
  .signup input[type=text]:focus + label {
    color: #70a3b7 !important;    
  }
  .signup input[type=email]:focus + label {
    color: #70a3b7 !important;    
  }
  .signup input[type=password]:focus + label {
    color: #70a3b7 !important;    
  }
  .signup input[type=text] {
    border-bottom: 1px solid #494848 !important;
  
  }
  .signup input[type=email] {
    border-bottom: 1px solid #494848 !important;
 
  }
  .signup input[type=password] {
    border-bottom: 1px solid #494848 !important;
   
  }
  .signup input[type=text]:focus {
    border-bottom: 1px solid #70a3b7 !important;
   
  }
  .signup input[type=email]:focus {
    border-bottom: 1px solid #70a3b7 !important;
  
  }
  .signup input[type=password]:focus {
    border-bottom: 1px solid #70a3b7 !important;

  }

  #loginBtn{
    background-color:  #87c58c;
  }

  .cardText{
    font-size: medium;
  }

  .gameCard {
    background-color: #70a3b7;
    color: white;
    line-height: 1.5;

  }

  .gameAddButton{
    background-color: #87c58c ;
  }
  .gameAddButton:hover {
    background-color: #70a3b7 ;
  }

  @media (max-width: 576px){
   
   
    .cardTitle{
        font-size: medium !important;
        font-weight: bold;
    }

    .cardText{
      font-size: small;
    }

    .gameAddButton{
      font-size: small;
    }

}